{% extends 'base.html.twig' %}
{% block stylesheets %}
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        * {
            box-sizing: border-box;
            word-wrap: break-word;
        }

        header {
            min-height: 60px;
            padding: 20px;
            background: #00427f;
            transition: height 200ms;
        }

        nav {
            width: 1000px;
            margin: 0 auto;
            position: relative;
        }

        nav h1 {
            color: white;
            font-weight: bold;
            display: inline-block;
            margin: 0;
            font-size: 30px;
            position: absolute;
            top: -5px;
        }

        nav a {
            text-decoration: none;
            color: white;
        }

        nav #header-buttons {
            display: inline-block;
            position: absolute;
            right: 10px;
        }

        nav #header-buttons a {
            color: #c3cdec;
            padding: 5px 10px;
            background: #00427f;
            border: 1px solid white;
            border-radius: 5px;
            transition: all 200ms;
            margin: 0 5px;
        }

        nav #header-buttons a:hover {
            background: white;
            color: #00427f;
        }

        header #form-wrapper {
            margin: 40px auto 10px;
            width: 500px;
            text-align: center;
            background: rgba(7, 7, 7, 0.34);
            border-radius: 5px;
            padding: 10px 0;
            color: white;
            display: none;
            transition: height 200ms;
            position: relative;
        }

        #form-wrapper input {
            margin: 3px 0 10px;
            width: 250px;
            background: rgba(7, 7, 7, 0.37);
            outline: none;
            border: 1px solid rgba(255, 255, 255, 0.72);
            border-radius: 5px;
            padding: 5px;
            color: white;
        }

        #form-wrapper label {
            color: rgba(255, 255, 255, 0.8);
        }

        #close-button {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            text-transform: lowercase;
        }

        #close-button:hover {
            color: red;
        }

        #form-wrapper #object-type {
            margin: 10px 0 20px;
            padding: 5px;
            outline: none;
            border: 1px solid white;
            color: white;
            background: rgba(7, 7, 7, 0.47);
        }

        #form-wrapper #object-type option {
            background-color: #272d46;
            color: white;
        }

        #form-wrapper input[type="submit"] {
            background: rgba(0, 255, 62, 0.51);
            transition: background-color 300ms;
            cursor: pointer;
            width: 150px;
        }

        #form-wrapper input[type="submit"]:hover {
            background-color: #47ec7a;
        }

        #form-wrapper input[type='checkbox'] {
            width: 20px;
            margin: 3px;
        }

        #form-wrapper #cottage p {
            margin: 10px 5px 5px;
        }

        #form-wrapper #clear-button {
            background: rgba(255, 41, 12, 0.51);
            cursor: pointer;
            width: 90px;
        }

        #form-wrapper #clear-button:hover {
            background-color: red;
        }
    </style>
{% endblock %}
{% block body %}
    <header>
        <nav>
            <a href="{{ path('ping') }}"><h1>Boo<span style="color: gold; text-transform: uppercase">king</span></h1>
            </a>
            <div id="header-buttons">
                {% if app.user %}
                    {% if 'ROLE_LANDLORD' in app.user.roles %}
                        <a href="" id="register-object-button">Зарегистрировать новый объект</a>
                    {% endif %}
                    <a href="{{ path('app-profile') }}" id="profile-button">Профиль</a>
                    <a href="{{ path('logout') }}" id="logout-button">Выйти</a>
                {% else %}
                    <a href="{{ path('app-sign-up') }}" id="sign-up-button">Зарегистрироваться</a>
                    <a href="{{ path('app-sign-in') }}" id="sign-in-button">Войти в аккаунт</a>
                {% endif %}
            </div>
        </nav>
        {% if app.user and 'ROLE_LANDLORD' in app.user.roles %}
            <div id="form-wrapper">
                <span id="close-button">закрыть</span><br>
                <h2 style="margin: 10px">Укажите адрес на карте</h2>
                <div id="map" style="width: 490px; height: 300px; margin: 10px auto 20px"></div>
                <form>
                    <label for="object-type">Выберите тип объекта бронирования:</label><br>
                    <select required id="object-type" name="object-type">
                        <option disabled selected>Выберите объект бронирования</option>
                        <option id="pension-option" value="pension">Пансионат</option>
                        <option id="cottage-option" value="cottage">Коттедж</option>
                    </select> <br>
                    <label for="object-name">Название объекта:</label><br>
                    <input pattern="^.{3,}$" type="text" id="object-name" maxlength="80"
                           placeholder="Минимум 3 символа"><br>
                    <label for="number_of_rooms">Общее количество номеров:</label><br>
                    <input pattern="^[1-9]{1}\d*$" type="text" maxlength="3" id="number_of_rooms"
                           placeholder="Например: 4"><br>
                    <label for="email">Контактное лицо:</label><br>
                    <input type="email" id="email" disabled value="{{ app.user.email }}"><br>
                    <label for="contact_number">Контактный телефон:</label><br>
                    <input pattern="^0[357]\d\d{7}$" maxlength="10" type="text" id="contact_number"
                           placeholder="Например: 0700123456"><br>
                    <label for="address">Адрес:</label><br>
                    <input type="text" pattern="^\d+[\.]?\d+[, ]+\d+[\.]?\d+" disabled  id="address" placeholder="Укажите через карту"><br>
                    <label for="price">Цена за сутки:</label><br>
                    <input pattern="^[1-9]{1}\d+$" maxlength="5" type="text" id="price"
                           placeholder="Укажите цену в сомах"><br>
                    <div id="pension" style="display: none">
                        <label for="distance_to_coast">Дистанция до берега:</label><br>
                        <input pattern="^[1-9]{1}\d*$" placeholder="Укажите в метрах" maxlength="5" type="text"
                               id="distance_to_coast">
                        <p style="margin: 10px 5px 5px">Собственный пляж?
                            <input type="checkbox" id="beach">
                        </p>
                    </div>
                    <div id="cottage" style="display: none">
                        <p>Собственный гараж?
                            <input type="checkbox" id="garage">
                        </p>
                        <p>Собственный бассейн?
                            <input type="checkbox" id="pool">
                        </p>
                    </div>
                    <input id="clear-button" type="reset" style="display: none">
                    <input type="submit" value="Далее" id="next-button">
                    <input type="submit" value="Отправить" id="submit-button" style="display: none">
                </form>
            </div>
        {% endif %}
    </header>
{% endblock %}
{% block javascripts %}
    {% if app.user and 'ROLE_LANDLORD' in app.user.roles %}
        <script type="text/javascript">
            $(function () {
                ymaps.ready(init);
                function init(){
                    // Создание карты.
                    let myMap = new ymaps.Map("map", {
                        center: [42.639243, 77.045479],
                        zoom: 9,
                    });

                    myMap.events.add('click', function (e) {
                        myMap.geoObjects.removeAll();
                        // Получение координат щелчка
                        let coords = e.get('coords');
                        let myPlacemark = new ymaps.Placemark([coords[0], coords[1]], {}, {draggable: true});
                        myMap.geoObjects.add(myPlacemark);
                        $('#address').val(coords.join(', '));
                        myPlacemark.events.add("dragend", function (e) {
                            let coords = this.geometry.getCoordinates();
                            saveCoordinates(coords);
                        }, myPlacemark);

                        function saveCoordinates(coords) {
                            let new_coords = [coords[0].toFixed(6), coords[1].toFixed(6)];
                            $('#address').val(new_coords.join(', '));
                        }
                    });

                }
            });
        </script>
        <script>
            let register_object_button = $('#register-object-button');
            let form_wrapper = $('#form-wrapper');
            let close_button = $('#close-button');
            let inputs = form_wrapper.find('input[type="text"]');
            let next_button = $('#next-button');
            let submit_button = $('#submit-button');
            let pension = $('#pension');
            let cottage = $('#cottage');
            let object_type = $('#object-type');
            let reset_button = $('#clear-button');

            function isValid(field, reg_pattern) {
                let string = field.value;
                return new RegExp(reg_pattern, 'i').test(string);
            }

            register_object_button.on('click', function (event) {
                event.preventDefault();
                form_wrapper.css('display', 'block');
                close_button.on('click', function () {
                    reset_button.trigger('click');
                    $(this).parent().css('display', 'none');
                })
            });

            function ajaxPostRequest() {
                let garage = $('#garage').prop('checked') ? 1 : 0;
                let pool = $('#pool').prop('checked') ? 1 : 0;
                let beach = $('#beach').prop('checked') ? 1 : 0;
                $.ajax({
                    method: "POST",
                    url: "/booking_object",
                    data: {
                        type: object_type.find(':selected').val(),
                        name: ($('#object-name').val()).trim(),
                        number_of_rooms: $('#number_of_rooms').val(),
                        contact_number: $('#contact_number').val(),
                        address: $('#address').val(),
                        price: $('#price').val(),
                        email: $('#email').val(),
                        garage: garage,
                        pool: pool,
                        beach: beach,
                        distance_to_coast: $('#distance_to_coast').val(),
                    },
                    statusCode: {
                        404: function (msg) {
                            alert('Объект с таким названием или номером телефона уже существует!');
                        },
                        406: function (msg) {
                            alert('Что-то пошло не так!');
                        }
                    }
                })
                    .done(function (msg) {
                        alert("Данные успешно сохранены!");
                        reset_button.trigger('click');
                        close_button.trigger('click');
                    })
            }

            function resetAll() {
                next_button.css('display', 'inline-block');
                submit_button.css('display', 'none');
                cottage.fadeOut(100);
                pension.fadeOut(100);
                object_type.prop('disabled', false);
                reset_button.css('display', 'none');
                return true;
            }

            let amount_of_inputs_to_validate = inputs.length;
            next_button.on('click', function (event) {
                event.preventDefault();
                if (object_type.find(':selected').val() === 'pension') {
                    cottage.css('display', 'none');
                    pension.fadeIn(500);
                } else if (object_type.find(':selected').val() === 'cottage') {
                    pension.css('display', 'none');
                    cottage.fadeIn(500);
                    amount_of_inputs_to_validate--;
                } else {
                    object_type.css('border-color', 'red');
                    return;
                }
                submit_button.css('display', 'inline-block');
                reset_button.css('display', 'inline-block');
                object_type.css('border-color', 'lightgreen');
                object_type.prop('disabled', true);
                $(this).css('display', 'none');
            });

            reset_button.css('display', 'inline-block');
            reset_button.on('click', function () {
                resetAll();
            });

            submit_button.on('click', function (event) {
                event.preventDefault();
                for (let i = 0; i < amount_of_inputs_to_validate; i++) {
                    if (isValid(inputs[i], inputs[i].pattern)) {
                        inputs[i].style.borderColor = 'lightgreen';
                    } else {
                        inputs[i].style.borderColor = 'red';
                        return;
                    }
                }
                ajaxPostRequest();
            });
        </script>
    {% endif %}
{% endblock %}