{% extends 'base.html.twig' %}
{% block title %}
    {{ object.name }}
{% endblock %}
{% block stylesheets %}
    <style>
        body {
            margin: 0;
            padding: 0;
            word-wrap: break-word;
            box-sizing: border-box;
        }
        .wrapper {
            width: 1000px;
            margin: 0 auto;
            padding: 10px 20px 50px;
            position: relative;
        }
        .wrapper .object-price {
            position: absolute;
            padding: 10px;
            font-size: 20px;
            width: 200px;
            left: calc(50% - 120px);
            background: #71b5ff;
            top: -20px;
            font-weight: bold;
            text-align: center;
            border-radius: 0 0 5px 5px;
        }
        .wrapper .room {
            padding: 10px;
            box-shadow: 0 2px 5px #bebebe;
            display: inline-block;
            margin: 2px;
            border: 1px solid #cbcbcb;
            cursor: pointer;
        }
        .wrapper .room:hover {
            background: #6cff70;
        }
        #room-number-field {
            width: 200px;
            padding: 5px;
            outline: none;
            border: 1px solid black;
            background: white;
        }
        #booking-button {
            padding: 5px;
            border: 1px solid black;
            cursor: pointer;
        }
        #booking-button:hover {
            background: #47ec7a;
        }
    </style>
{% endblock %}
{% block body %}
    <div id="map" style="width: auto; height: 400px"></div>
    <div class="wrapper">
        <a href="{{ path('ping') }}" id="back">Назад</a>
        <p class="object-price">{{ object.price }} сом за сутки</p>
        <p style="text-align: center; font-size: 30px; margin-top: 50px">
            {% if object.type == 'cottage' %}Коттедж {% else %}Пансионат {% endif %} "{{ object.name }}"
        </p>
        <p style="position: absolute; top: -10px; right: 5px; font-size: 14px">тел: {{ object.contact_number }}</p>
        <div class="rooms">
            <h2 style="text-align: center">Выберите комнату и забронируйте!</h2>
            {% for i in 1..(object.number_of_rooms) %}
                {% if i in busy_rooms %}
                    <div class="room" style="background: rgba(255,0,0,0.52)">занят</div>
                {% else %}
                    <div class="room" id="test{{ i }}">{{ i }}</div>
                {% endif %}
            {% endfor %}
            <div style="text-align: center; margin: 10px">
                <input type="text" id="room-number-field" disabled placeholder="Кликните по номеру комнаты...">
                <button id="booking-button">Забронировать</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            ymaps.ready(init);
            function init(){
                // Создание карты.
                let myMap = new ymaps.Map("map", {
                    center: [{{ object.address }}],
                    zoom: 10,
                });

                let myPlacemark = new ymaps.Placemark([{{ object.address }}], {
                    // Хинт показывается при наведении мышкой на иконку метки.
                    hintContent: 'Содержимое всплывающей подсказки',
                    // Балун откроется при клике по метке.
                    balloonContent: 'Содержимое балуна'
                });

                myMap.geoObjects.add(myPlacemark);

            }
        });
    </script>
    <script>
        {% if error %}
            alert({{ error }});
        {% endif %}
        let rooms = $('.room');
        let booking_button = $('#booking-button');
        let number_field = $('#room-number-field');
        rooms.on('click', function () {
            if($(this).text().trim() !== 'занят') {
                number_field.val($(this).text().trim());
            }
        });
        booking_button.on('click', function () {
            if (number_field.val().trim() === '') {
                alert('Выберите сперва номер комнаты!');
            }
            $.ajax({
                method: "POST",
                url: "/booking",
                data: {
                    object: {{ object.id }},
                    room: number_field.val(),
                    tenant: '{{ app.user.email }}'
                }
            })
                .done(function () {
                    alert('Вы успешно забронировали!');
                    location.reload();
                })
                .fail(function (msg) {
                    alert('Всё плохо');
                    console.log(msg);
                })
        })
    </script>
{% endblock %}


