{% extends '_header_template.html.twig' %}

{% block title %}
    booKING
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        #booking-objects-block {
            margin: 20px 0;
            padding: 20px 160px;
            background: rgba(0, 0, 0, 0.08);
        }

        .search-block h3 {
            font-size: 30px;
            color: #343434;
        }

        .search-block input, #searching-object-type {
            font-size: 18px;
            padding: 7px;
            outline: none;
            border: 3px solid #005dff;
            border-radius: 5px;
        }

        .search-block #name-field {
            width: 500px;
        }

        .search-block .range-field {
            padding: 7px 2px 7px 5px;
            width: 100px;
        }

        .search-block #search-button {
            width: 150px;
            background: #034386;
            color: white;
            transition: all 300ms;
            cursor: pointer;
        }

        .search-block #search-button:hover {
            background: white;
            color: black;
        }

        #searching-object-type {
            background: white;
        }

        main .object-box {
            box-shadow: 0 2px 5px grey;
            background: white;
            margin: 10px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            text-align: center;
            position: relative;
        }

        main .object-box .left-block {
            height: 120px;
            width: 25%;
        }

        main .object-box .right-block {
            padding: 10px 180px 10px 30px;
            width: 75%;
            text-align: left;
            position: relative;
        }

        main .object-box .object-name {
            color: rgba(0, 0, 0, 0.82);
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }

        main .object-box .booking-button {
            position: absolute;
            top: 42px;
            right: 10px;
            padding: 10px 20px;
            background: #1844b4;
            text-decoration: none;
            color: white;
            border-radius: 5px;
            transition: background-color 300ms;
            font-size: 18px;
        }
        main .object-box .right-block .advantages {
            position: absolute;
            bottom: 5px;
            font-size: 14px;
        }

        main .object-box .booking-button:hover {
            background: #00a42d;
        }

        main .container {
            width: 1040px;
            margin: 50px auto;
        }
    </style>
{% endblock %}
{% block body %}
    {{ parent() }}
    <main>
        <div class="search-block container">
            <h3><label for="search-field">Бронируйте. Вам понравится!</label></h3>
            <input type="text" id="name-field" placeholder="Введите название...">
            <input type="number" class="range-field" id="min_price" min="100" max="50000" step="200"
                   placeholder="Цена от...">
            <input type="number" class="range-field" id="max_price" min="1000" max="50000" step="500"
                   placeholder="До...">
            <select id="searching-object-type">
                <option value="">Все типы</option>
                <option value="pension">Пансионаты</option>
                <option value="cottage">Коттеджи</option>
            </select>
            <input type="submit" id="search-button" value="Найти">
        </div>
        <div id="booking-objects-block">

        </div>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        let booking_objects_block = $('#booking-objects-block');
        let min_price = $('#min_price');
        let max_price = $('#max_price');
        ajaxGetQuery();

        function printData(objects) {
            booking_objects_block.html('');
            if (objects.length === 0) {
                booking_objects_block.append('<p style="font-size: 20px; color: #7f7f7f">Ничего не найдено</p>')
                return;
            }
            objects.forEach(function (object) {
                let type;
                let first_advantage;
                let second_advantage;
                if (object.type === 'pension') {
                    type = 'Пансионат';
                    first_advantage = object.beach ? '<span style="color: green; margin-right: 30px">&#10003; собственный пляж</span>' : '';
                    second_advantage = object.distance_to_coast !== '' ? `<span style="color: green">${object.distance_to_coast} метров до пляжа</span>` : '';
                } else  {
                    type = 'Коттедж';
                    first_advantage = object.pool ? '<span style="color:green; margin-right: 30px">&#10003; бассейн</span>' : '';
                    second_advantage = object.garage ? '<span style="color:green;">&#10003; гараж</span>' : '';
                }
                let objectBox = $(`
                <div class="object-box">
                    <div class="left-block">
                        <div style="background: #9ed1ee; padding: 10px; font-size: 20px;">
                            <span style="font-weight: bold">${object.price}</span> сом за сутки
                        </div>
                        <p style="margin: 5px; font-weight: bold; color: #273064">${type}</p>
                        <p style="margin: 10px 0 2px; font-size: 14px">Телефон: <span style="font-weight: bold">${object.contact_number}</span></p>
                        <span style="font-size: 14px">доступно: <span style="font-weight: bold">${object.number_of_rooms}</span> комнат</span>
                    </div>
                    <div class="right-block">
                        <span class="object-name">${object.name}</span>
                        <a href="/booking_object/details/${object.id}" class="booking-button">Забронировать</a>
                        <div class="advantages">Преимущества: ${first_advantage}${second_advantage}</div>
                    </div>
                </div>`
                );
                booking_objects_block.append(objectBox)
            })
        }

        function ajaxGetQuery() {
            $.ajax({
                method: "GET",
                url: "/booking_object",
                data: {
                    type: $('#searching-object-type').find(':selected').val(),
                    name: ($('#name-field').val()).trim(),
                    min_price: min_price.val(),
                    max_price: max_price.val(),
                },
                statusCode: {
                    404: function (msg) {
                        booking_objects_block.append('<p style="font-size: 20px">Ничего не найдено!</p>')
                    },
                    406: function (msg) {
                        alert('Что-то пошло не так!');
                    }
                }
            })
                .done(function (objects) {
                    printData(objects);
                })
        }

        $('#search-button').on('click', function (event) {
            event.preventDefault();
            ajaxGetQuery();
        });
    </script>
{% endblock %}