{% extends 'base.html.twig' %}

{% block title %}
    Профиль
{% endblock %}

{% block body %}
    <p>Email: <span style="font-weight: bolder">{{ app.user.email }}</span></p>
    <p>Passport: <span style="font-weight: bolder">{{ app.user.passport }}</span></p>
    <p>Привяжите к аккаунту клиента соц сети</p>
    {% if app.user.vkId %}
    <p style="color: darkgreen">Вы привязали свой <span style="font-weight: bold">VK</span></p>
    {% endif %}
    {% if app.user.googleId %}
        <p style="color: darkgreen">Вы привязали свой <span style="font-weight: bold">Google</span></p>
    {% endif %}
    {% if app.user.faceBookId %}
        <p style="color: darkgreen">Вы привязали свой <span style="font-weight: bold">Facebook</span></p>
    {% endif %}
    <hr/>
    {{ include('bind_account/bind_account.html.twig') }}
{% endblock %}

