{% extends '_header_template.html.twig' %}
{% block title %}
    Регистрация
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .wrapper {
            box-sizing: border-box;
            width: 400px;
            min-height: 300px;
            padding: 20px;
            box-shadow: 0 2px 10px grey;
            position: absolute;
            top: 20%;
            left: calc(50% - 200px);
            text-align: center;
        }
        .wrapper input {
            margin: 5px;
        }
        .form {
            position: relative;
        }
        header nav #sign-up-button {
            border-color: #77ec7b;
            color: #47ec7a;
        }
        header nav #sign-up-button:hover {
            background: inherit;
            color: white;
        }
    </style>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="wrapper">
        <div class="form">
            <h1>Регистрация:</h1>
            {% if error %}
                <div style="color:red">{{ error }}</div>
            {% endif %}
            {{ form(form) }}
            <hr>
            {{ include('sign_up/ulogin.html.twig') }}
        </div>
    </div>
{% endblock %}