{% extends '_header_template.html.twig' %}

{% block title %}
    Авторизация
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .wrapper {
            box-sizing: border-box;
            width: 400px;
            height: 300px;
            padding: 20px;
            box-shadow: 0 2px 10px grey;
            position: absolute;
            top: 20%;
            left: calc(50% - 200px);
            text-align: center;
        }
        .wrapper input {
            margin: 5px;
        }
        header nav #sign-in-button {
            color: #47ec7a;
            border-color: #47ec7a;
        }
        header nav #sign-in-button:hover {
            background: inherit;
            color: white;
        }
    </style>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="wrapper">
        {% if error %}
            {{ error }}
        {% endif %}
        <h1>Авторизация:</h1>
        {{ form(form) }}
        <hr>
        {{ include('sign_in/sign-in-ulogin.html.twig') }}
    </div>
{% endblock %}
